doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    header
      nav#main-nav
        ul.main-menu
          li: a(href="#") Item 1
          li: a(href="#") Item 2
          li: a(href="#") Item 3
          li: a(href="#") Item 4