//- h1 Hola mundo

//- ul
//-   li Item 1

//- a(href="#") soy un 

//- img(src="foto.jpg", alt="soy una foto")
//- img(src="foto.jpg" alt="soy una foto")

//- p#first-text párrafo con ID
//- p.text.text2.text3 párrafo con ID
//- p#first-text.text párrafo con ID

//- p Lorem ipsum dolor sit amet consectetur adipisicing elit. At suscipit doloremque maiores amet nam 
//-   a(href="#") quos
//-   |itaque neque molestias, blanditiis, architecto unde iure! Veritatis numquam expedita rem consectetur molestiae atque doloribus.

//- ul.menu: li.menu__item: a(href="#").menu__link Item 1

doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    header
      nav#main-nav
        ul.main-menu
          li: a(href="#") Item 1
          li: a(href="#") Item 2
          li: a(href="#") Item 3
          li: a(href="#") Item 4